@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Montserrat:wght@300;400;700&family=Raleway&family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* nav{
    color: #fff;
    opacity: 0.8;
} */

.nav-link{
    background-color: rgb(111, 59, 99);
    border-radius: 10px;
}

nav a:hover {
    background-color:rgb(226, 43, 159)
}

a{
    /* background-color: rgb(42, 23, 23); */
    margin: 2px;
}
/* a.navbar-brand{
    background-color: rgb(113, 14, 206);
} */


.icono{
    height: 100px;
    width: 100px;
}

.icono:hover{
    background-color:rgb(226, 43, 159)
}

.content{
    background-image: url("../img/foto.jpg");
    background-size: cover;
    height: 1900px;
    width: 2000px;
}

h4 strong{ 
    color:rgb(113, 14, 206);
    font-family: 'Montserrat';
}

p strong{ 
    color:rgb(196, 15, 157);
    font-family: 'Montserrat';
}

p{ 
    font-family: 'Montserrat';
}

.p1{
    background-color: rgb(244, 232, 255);
    padding: 9px;
    border-radius: 10px;
}

/*........................................*/

.section{
    background-color:#fff;
    color: aliceblue;
}

.a2{
    background-color: rgb(100, 180, 180);
}

/* Sección nosotros */

footer.Footer{
    background-color: rgb(111, 59, 99);
}
.btn{
    background-color: rgb(111, 59, 99);
}